.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  color: white;

  &__logo {
    font-size: 1.5rem;

  }

  &__quote {
    p {
      width: 320px;
      text-align: right;
      font-size: 1.5rem;
      line-height: 2.5rem;
      font-weight: 600;
    }
  }
}
