.clock-container {
  .clock-time {
    font-size: 15rem;
    color: white;
    font-family: 'General Sans', sans-serif;

    @media (max-width: 768px) {
      font-size: 8rem;
    }

    @media (max-width: 480px) {
      font-size: 5rem;
    }
  }
}
