<tui-root>
  <div class="app-container" [ngStyle]="{
    'background-image': imgBackground() ? 'url(' + imgBackground() + ')'
     : 'url(/assets/wallpaper/aura-twilight.jpg)'
  }">
    @if (showHeader()) {
      <div class="app-container__header">
        <layout-header/>
      </div>
    }
    <div class="app-container__routes">
      <router-outlet></router-outlet>
    </div>

    @if (showHeader()) {
      <div class="app-container__footer">
        <layout-footer/>
      </div>
    }
  </div>
</tui-root>
