@use "../theme/theme";

.app-container {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__header {
    width: 100%;
    font-family: "Noto Sans", sans-serif;
  }

  &__routes {
    font-family: "Noto Sans", sans-serif;
  }

  &__footer {
    width: 100%;
    font-family: "Noto Sans", sans-serif;
  }
}
