<div class="footer-container">
  <div class="footer-container__left">
    <button class="btn-dark-violet">
      <img src="/assets/svg/music.svg" width="20" height="20" alt="">
    </button>

    <button class="btn-dark-violet">
      <img src="/assets/svg/sound.svg" width="20" height="20" alt="">
    </button>
  </div>

  <div class="footer-container__right">
    <div class="right-links">
      <a routerLink="/wallpaper" routerLinkActive="active-link">
        <img src="/assets/svg/lotus.svg" width="30" alt="">
      </a>
      <a routerLink="/" routerLinkActive="active-link"   [routerLinkActiveOptions]="{ exact: true }">
        <img src="/assets/svg/home.svg" width="30" alt="">
      </a>
      <a routerLink="/asd" routerLinkActive="active-link">
        <img src="/assets/svg/idea.svg" width="30" alt="">
      </a>
    </div>
  </div>
</div>
